body{

	background-color:#d3d3ff;

	text-align:center;
	
	font-family: arial,sans-serif;	
	color:#6f6fff;
}

hr{
	margin:0px;
	padding:0px;
}

.imgContainer{
	padding-left:30px;
	float:right;
}

.homeP{
	text-align:left;
}

.login{

	position: relative;
  	width:300px;
	margin:0 auto;	
	padding:20px 20px 20px;
	
	background-color:#6f6fff;
	color:#efeffe;
	
	border-radius:15px;
}

.pLogHelp{
	text-decoration:none;
	font-size:11px
}

.login p{
	margin:20px 0 0;
}


input[type=submit]{
	
	height:25px;
	background-color:#efeffe;
	color:#6f6fff;
	border-radius:10px;
}

input[type=text], input[type=password]{
	width:250px;
	height:30px;	
	color:#6f6fff;
	
}
.signIn{
	position: relative;
  	width:520px;
	margin:0 auto;	
	padding:20px 20px 20px;
	
	background-color:#6f6fff;
	color:#efeffe;
	
	border-radius:15px;

}
#pshifted{
	text-align:right;	
}

#container{
	background-color:#efeffe;
	border-radius: 15px;

	margin: 5% 12%;
}

#content{
	margin:50px 10%;
	overflow:auto;
}

#header{

	background-image: url('../images/header.png');
	background-repeat: no-repeat;
	background-position: center top;
	padding-top:100px;
	font-weight:bold;
	font-style:italic;
}

#navigationBar{
	padding-top:0px;
	padding-bottom:0px;
}

#navigationBar ul{
	list-style-type: none;
	margin:5px;
	padding:5px;
	
}

#navigationBar ul li{
	display: inline;
	padding:20px;
	
}

#navigationBar ul li a{

	text-decoration:none;
	color:#6f6fff;
	font-weight:bold;
	font-style:italic;
	
	padding-top:5px;
	padding-bottom:5px;	
	padding-left:10px;
	padding-right:10px;

	border-radius:10px;
}

#navigationBar ul li a:hover{
	background-color:#9394fe;
	color:#efeffe;
}

#footer{
	font-size:10px;
	font-style:italic;
	padding-top:5px;
	padding-bottom:5px;
}
